@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap");

body {
  margin-inline: 1vw;
  background-image: url("../../../public/background.jpg");
  background-size: cover;
  font-family: "DM Sans", sans-serif;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 40px;
  padding-bottom: 30px;
}
@media (max-width: 2560px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }
}
@media (max-width: 1390px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}
@media (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
  }
}
.mygallery {
  color: white;
  font-size: 50px;
}
.tag {
  color: white;
  margin-right: 10px;
  padding-inline: 5px;
  border-radius: 5px;
  border: 2px solid white;
}

.card:hover {
  transform: scale(0.9);
  transition: 0.5s;
  cursor: pointer;
}

.imggallery {
  color: white;
  margin-top: 50px;
  font-size: 50px;
}
