@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

body {
  background-color: black;
  margin-inline: 50px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 40px;
  padding-bottom: 30px;
  
}
.mygallery {
  color: aliceblue;
  font-family: 'Kurale', serif;
  text-align: center;
  font-size: 50px;
}
.tag {
  color: white;
  margin-right: 10px;
  font-family: 'DM Sans', sans-serif;
  padding-inline: 5px;
  border-radius: 5px;
  border:  2px solid white;
}
.tags {
  margin-top: 9px;
  border:  2px solid;
}

.card:hover {
  transform: scale(0.9);
  transition: 0.5s;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
}